<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="notes_sidebar">
            <input type="text" id="title" placeholder="Add title">
            <textarea id="description" placeholder="Add description"></textarea>
            <button id="btnSave">Save</button>
            <button id="btnDelete" class="hidden">Delete</button>
        </div>
        <div class="notes_container" id="notes_container"></div>
    </div>

    <script type="module" src="../../wwwroot/js/signalr/dist/browser/signalr.js"></script>
    <script type="module" src="../../wwwroot/js/noteClient.js"></script>
    <script type="module" src="script.js"></script>
</body>

</html>